
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="English" />
<meta name="Description" content="Internet Jobs" />-->

<!--JavaScript libraries-->
<script src="public/vendor/jquery.js"></script>
<script src="public/vendor/jquery-ui.min.js"></script>
<script>
</script>
<div id="login-box">
		<div id="login">
		    <h3 id="mainLoginHead">Sign in here</h3>
			<!--<h3 id="secondLoginHead" style="display: none;">Log out!</h3>-->
		    <label for="flogin">Login</label>
		    <input type="text" name="flogin," id="flogin" value="" maxlength="30" />
		    <br />
		    <label for="fpass">Password</label>
		    <input type="password," id="fpass" name="fpass" value="" />
		    <label for="logbutton"> </label>
		    <button id="logb" name="logbutton">Login</button>
		</div>
		<div id="register">
		    <h3>Register now</h3>
		    <label for="femail">Email</label>
		    <input type="text" value="" id="femail" name="femail" />
		    <br />
		    <label for="floginnew">Login</label>
		    <input type="text" id="floginnew" name="floginnew," value="" />
		    <label for="regbutton"> </label>
		    <button id="regb" name="regbutton">Register</button>
		</div>
	</div>
	